@import "./partials/colors";
@import "./partials/media";

$border-radius: 15px;
$border-color: rgb(228, 228, 228);
$gap: 1.3rem;
$Padding-in-children: 1.3rem;

$screen-size-for-grid-layout-change: 680px;


@mixin BorderStyle {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.home {
  height: 100%;
  display: grid;

  @include for-screen($screen: 680px) {
    grid-template-rows: 2rem 1.5fr 3fr 5fr;
    grid-template-columns: repeat(2,1fr);
  }

  grid-template-rows: 2rem 1.5fr 3fr 5fr 5fr;
  grid-template-columns: 1fr;

  row-gap: $gap;
  column-gap: $gap;
  padding: 0;
  @include for-tablet-landscape{
    padding: 0 0 0 1rem;
  }
  // can be scrolled for small screens and static
  overflow-y: auto;
  overflow-x: hidden;
  & > div {
    // dashboard
    &:nth-child(1) {
      @include for-screen($screen: $screen-size-for-grid-layout-change) {
        grid-column: 1 / 3;
      }
      grid-column: 1 / 2;
      & > div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > h1 {
          color: $text-dark;

          font-size: 1.4rem;
          @include for-tablet-portrait{
            font-size: 1.7rem;
          }
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        // toggle switch
        & > div > div {
          background-color: $bg-gray;
          display: flex;
          border-radius: 10px;
          padding: 0.2rem;
          color: $text-dark;
          font-family: sans-serif;
          & > div {
            padding: 0.275rem 1.2rem;
            font-size: 0.8rem;
            @include for-tablet-portrait{
              font-size: 1rem;
              padding: 0.3rem 1.35rem;
            }
            border-radius: 7px;
            display: flex;
            align-items: center;
          }
          & > div:first-child {
            background-color: $bg-white;
          }
        }
      }
    }
    // Userprofile
    &:nth-child(2) {
      @include for-screen($screen: $screen-size-for-grid-layout-change) {
        grid-column: 1 / 3;
      }
      grid-column: 1 / 2;
      & > div {
        width: 100%;
        @include for-tablet-landscape{
          width: 75%;
        }
        @include for-laptop{
          width: 50%;
        }


        height: 100%;
        overflow: hidden;
        padding: $Padding-in-children;
        // background-color: $bg-orange-400;
        @include BorderStyle();
      }
    }
    // receipt container
    &:nth-child(3) {
      @include for-screen($screen: $screen-size-for-grid-layout-change) {
        grid-column: 1 / 3;
      }
      grid-column: 1 / 2;
      @include BorderStyle();
      padding: $Padding-in-children;
    }
    &:nth-child(4) {
      grid-column: 1 / 2;
      @include BorderStyle();
      & > div {

        padding: $Padding-in-children 0 $Padding-in-children
          $Padding-in-children;
        overflow: hidden;
      }
    }
    &:nth-child(5) {
      @include for-screen($screen: $screen-size-for-grid-layout-change) {
        grid-column: 2 / 3;
      }
      grid-column: 1 / 2;
      @include BorderStyle();
      & > div {
        padding: $Padding-in-children;
      }
    }
  }
}

.custom__icon__button {
  border: none;
  background: none;
  background-color: $bg-white;
  border-radius: 10px;
  padding: 10px 12px;
}

/* this is for Chrome and Safari */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* This is for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}
