
$bg-light : #F6F7FB;
$bg-button-background: #02BBFE;
$bg-button-background-hover: #84BBFE;
$bg-blue-100:#ddecf6;
$bg-blue-300:#00BBFE;
$bg-white: white;
$bg-gray: rgb(223, 223, 223);
$text-gray: #6a6a6a;
$text-light-gray:#cfcfcf;
$text-black: black;
$text-dark: rgb(58, 58, 58);
$bg-red-300: rgb(250, 100, 100);
$bg-yellow-300: rgb(252, 241, 81);
$bg-green-400: #31e84f;
$bg-pink-400:#e01ceb;
$bg-orange-400:#eb761c;


